.container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/listbackground.png);
  background-size: cover;
}

.grid {
  min-width: 60rem;
  height: 100vh;
}
