.ag-theme-alpine {
  --ag-foreground-color: rgb(231, 17, 17);
  --ag-background-color: rgb(255, 238, 173);
  --ag-header-foreground-color: rgb(255, 111, 105);
  --ag-header-background-color: rgb(255, 204, 92);
  --ag-odd-row-background-color: rgb(136, 216, 176);
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);
  --ag-font-size: 17px;
  --ag-font-family: monospace;
}
